<button (click)="toggleLoading()">toggle</button>

<app-placeholder
  [animation]="'pulse'"
  [theme]="{ 'background-color': 'black', width: '300px', height: '300px' }"
></app-placeholder>

<ng-container #vcr [ngTemplateOutlet]="activeTemplate"> </ng-container>
<ng-template #loading>
  <p>loading...</p>
</ng-template>
<ng-template #tpl>
  @for(item of items;track $index){
  <div>
    <h3>{{ "Item:$#" + item }}</h3>
    <hr />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
      quaerat, provident hic non animi et, at, ut ab facere quas tempora
      molestiae officia. Ut consequuntur voluptatum iusto illum ab dolorem.
    </p>
    <br />
    <br />
  </div>
  }
</ng-template>

<hr />
<h3>Accordian Playground</h3>
<app-accordian
  title="sample"
  [items]="[{ name: 'test1' }, { name: 'test2' }]"
></app-accordian>
<br />
<app-accordian-1></app-accordian-1>

<hr />
<h3>Stacking Grid Playground</h3>
<app-stacking-grid></app-stacking-grid>
